@charset "utf-8";
/* CSS Document */

.fundofixo {
    background-image: url("../imagens/fundo.jpg") !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-color: transparent !important;
}

.tabela-branca {
    background-color: rgba(255, 255, 255, 0.904);
}

.fundocategoria {
    background-color: rgba(255, 255, 255, 0.959);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;    
    color: rgba(5, 24, 109, 0.904);
    
}
.btntotal {
    background-color: rgba(194, 15, 9, 0.904);
    color: rgb(255, 255, 255);
}
.btnseta {
    background-color: rgba(3, 8, 65, 0.199)
}
.fundoparceiro {
    background-color: rgba(255, 255, 255, 0.904);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;  
    color:  rgba(112, 5, 5, 0.842);
}
.btnmodal-cancelar {
    background-color: rgba(4, 110, 66, 0.904);
    color: rgb(255, 255, 255);
}

