@charset "utf-8";
/* CSS Document */

.fundofixo {
    background-image: url("../imagens/fundo.jpg") !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-color: transparent !important;
}

.fundo2 {
    background-image: url("../imagens/moldura1.jpg") !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-color: transparent !important;
}

.tabela-branca {
    background-color: rgba(255, 255, 255, 0.904);
}

.fundocategoria {
    background-color: rgba(255, 255, 255, 0.959);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;    
    color: rgba(5, 24, 109, 0.904);

    
}
.categoriageral {
    font-size: 50px;
}

.btntotal {
    background-color: rgba(194, 15, 9, 0.904);
    color: rgb(255, 255, 255);
}

.btnadicionar {
    background-color: rgba(15, 55, 196, 0.904);
    color: rgb(255, 255, 255);
}

.btnalterar {
    background-color: rgba(212, 176, 15, 0.904);
    color: rgb(255, 255, 255);
}

.btnseta {
    background-color: rgba(3, 8, 65, 0.199)
}
.fundoparceiro {
    background-color: rgba(255, 255, 255, 0.904);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;  
    color:  rgba(112, 5, 5, 0.842);
}
.btnmodal-cancelar {
    background-color: rgba(4, 110, 66, 0.904);
    color: rgb(255, 255, 255);
}

.fundoatletas {
    background-color: rgba(255, 255, 255, 0.959);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;    
    color: rgba(0, 0, 54, 0.904);
}

.fundousuarios {
    background-color: rgba(255, 255, 255, 0.959);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;    
    color: rgba(0, 0, 54, 0.904);
}

.titulo {
    font-family: "Times-New-Roman", serif;
    font-size: 45px;
    font-style: italic;
    color: rgb(4, 4, 82);
}

.fontetabela{
    font-family: "Times-New-Roman", serif;
    font-size: 17px;
}

.tabelacenter{
    display: table-cell !important;
    text-align: center !important;
    vertical-align: middle !important;
}

table td, table th {
    vertical-align: middle !important;
    text-align: center;
}

.text{
    color: rgb(4, 4, 82);
}

.fontedestaque{
    font-family: "Times-New-Roman", serif;
    font-size: 20px;
}
.nomeatleta{
    color: rgb(4, 4, 82);
    text-align: center;
}

.textrodape{
    color: rgb(249, 249, 250);
}

.texticon{
    color: rgb(160, 4, 4);
}

.categoriabusca{
    background-color: rgba(255, 255, 255, 0.959);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;    
    color: rgba(80, 2, 2, 0.904);
    font-weight: bold;
}
.parceirosdetalhe {
    color:  rgba(119, 7, 5, 0.904);
    font-style: italic;
    font-size: 20px;
}

.navbarbg{
    background-color: rgba(0, 0, 85, 0.822);
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-brand > img {
    height: 85px;    /* ajuste aqui */
    width: auto;
    padding: 0;
    margin-top: -40px; /* se precisar alinhar */
    padding-left: 40px;
}

.navbartext{
    color: rgb(220, 220, 221);
}

