@charset "utf-8";
/* CSS Document */

.fundofixo {
    background-image: url("../imagens/fundo.jpg") !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-color: transparent !important;
}

.tabela-branca {
    background-color: rgba(255, 255, 255, 0.904);
}
