@charset "utf-8";
/* CSS Document */

.fundofixo {
    /*background-image: url("../imagens/bg_fogo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;*/
   /* background: url(../imagens/bg_fogo.jpg) no-repeat fixed;*/
    background-size: cover;
    -webkit-background-size: cover;

}
.tbopacidade{background-color: rgba(255, 255, 255, 0.6);}