@charset "utf-8";
/* CSS Document */

.fundofixo {
    background-image: url("../imagens/fundo.jpg") !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-color: transparent !important;
}

.fundo2 {
    background-image: url("../imagens/moldura1.jpg") !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-color: transparent !important;
}

.tabela-branca {
    background-color: rgba(255, 255, 255, 0.904);
}

.fundocategoria {
    background-color: rgba(255, 255, 255, 0.959);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;    
    color: rgba(5, 24, 109, 0.904);

    
}

.btntotal {
    background-color: rgba(194, 15, 9, 0.904);
    color: rgb(255, 255, 255);
}

.btnadicionar {
    background-color: rgba(15, 55, 196, 0.904);
    color: rgb(255, 255, 255);
}

.btnalterar {
    background-color: rgba(212, 176, 15, 0.904);
    color: rgb(255, 255, 255);
}


.btnmodal-cancelar {
    background-color: rgba(4, 110, 66, 0.904);
    color: rgb(255, 255, 255);
}

.fundoatletas {
    background-color: rgba(255, 255, 255, 0.959);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;    
    color: rgba(0, 0, 54, 0.904);
}

.fundousuarios {
    background-color: rgba(255, 255, 255, 0.959);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;    
    color: rgba(0, 0, 54, 0.904);
}

.titulo {
    font-family: "Times-New-Roman", serif;
    font-size: 45px;
    font-style: italic;
    color: rgb(4, 4, 82);
}

.fontetabela{
    font-family: "Times-New-Roman", serif;
    font-size: 17px;
}

.tabelacenter{
    display: table-cell !important;
    text-align: center !important;
    vertical-align: middle !important;
}

table td, table th {
    vertical-align: middle !important;
    text-align: center;
}

.text{
    color: rgb(4, 4, 82);
}

.fontedestaque{
    font-family: "Times-New-Roman", sans-serif;
    font-size: 20px;
}
.nomeatleta{
    color: rgb(4, 4, 82);
    text-align: center;
}

.textrodape{
    color: rgb(249, 249, 250);
}

.texticon{
    color: rgb(160, 4, 4);
}

.categoriabusca{
    background-color: rgba(255, 255, 255, 0.959);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;    
    color: rgba(80, 2, 2, 0.904);
    font-weight: bold;
}
.parceirosdetalhe {
    color:  rgba(119, 7, 5, 0.904);
    font-style: italic;
    font-size: 20px;
}

.navbarbg{
    background-color: rgba(0, 26, 88, 0.918);
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-brand > img {
    height: 85px;    /* ajuste aqui */
    width: auto;
    padding: 0;
    margin-top: -40px; /* se precisar alinhar */
    padding-left: 40px;
}

.navbartext{
    color: rgb(220, 220, 221);
}

.adm {
    background-color: rgba(255, 255, 255, 0.959);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;    
    color: rgba(0, 0, 54, 0.904);
    font-size: 45px;
    font-family: "Cabin", sans-serif;
    font-weight: bold;


}
.btnadm {
    padding: 10px;
}
.fundo3 {
    background-image: url("../imagens/fundoadm5.png") !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-color: transparent !important;
}
.fundoformulario {
    background-color: rgba(255, 255, 255, 0.959);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px; 
    font-family: "Cabin", sans-serif; 
    font-size: 33px;  
    color: rgba(96, 2, 2, 0.904);

    
}
.formulario {
    padding-top: 25px;
    padding-bottom: 15px;
    border-radius: 10px;  
    font-size: 30px; 
    font-weight: bold;  
    color: rgba(5, 24, 109, 0.904);   
}
.formulariobusca{
    background-color: rgba(255, 255, 255, 0.959);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;    
    color: rgba(151, 4, 4, 0.904);
    font-weight: bold;
}

.sidebar{
    flex: 1; /* Ocupa 25% da largura */
    min-width: 280px;
    background-color: #f8f9fa; /* Um cinza claro para destacar */
    padding: 30px;
    border-radius: 8px;
    border-left: 4px solid #d90429; /* Uma borda com a cor do seu site */
    height: fit-content; /* Ajusta a altura conforme as notícias */
}

/* Responsivo: Em celulares, a sidebar vai para baixo */
@media (max-width: 768px) {
    .layout {
        flex-direction: column;
    }
}

.layout {
    display: flex;
    flex-wrap: wrap; /* Permite quebrar linha no telemóvel */
    max-width: 1200px;
    margin: 0 auto;
    gap: 5px; /* Espaço entre o corpo e a sidebar */
    padding: 20px;
}

.bordacontainer{
    border-radius: 20px;
}

.historia {
        background-color: rgba(255, 255, 255, 0.959);
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 10px;    
        color: #333;
        font-size: 21px;
        font-family: "Cabin", sans-serif;
        padding: 20px;
}

.titulonoticia{
    font-family: "Times-New-Roman", serif;
    font-size: 40px;
    font-style: italic;
    color: rgb(4, 4, 82);
} 

.containerhistoria {
    display: flex;
    align-items: center;
}
.historia-resumo p {
  max-height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btnhistoria {
    background-color: rgba(194, 15, 9, 0.904);
    color: rgb(255, 255, 255);
    display:inline-block; 
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 10px;
}

.descrinoticia{
    font-family: "Times-New-Roman";
    font-size: 19px;
}

.line{
    line-height: 1.6;
}

.containerpri {
    display: flex;
    gap: 20px;
}

.principal {
    flex: 3;

}
.sidebar-news {
    flex: 1;
    max-width: 450px;
    float: left;
    width: 75%; /* Em vez de um valor fixo em px, use porcentagem */

}

/* Isso força a linha a não deixar buracos e alinhar tudo à esquerda */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Isso garante que o flexbox não quebre o layout do Bootstrap 3 */
.row:before, .row:after {
  display: none !important;
}

.fundohistoria {
    background-color: rgba(255, 255, 255, 0.959);
    border-radius: 10px;    
    color: rgba(0, 0, 54, 0.904);
}

.margem{
    margin-right: 15px;
    width: 100vw;
}
